.additional-list {
  list-style: none;
  padding: 0;

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.additional-list__item {
  padding-top: 15px;
  padding-bottom: 20px;
  display: grid;
  row-gap: 15px;
  border-top: 1px solid $gray-border;

  @media (min-width: $tablet-width) {
    padding: 28px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0;
    align-items: center;
  }
}
