.button {
  background-color: $basic-green;
  text-decoration: none;
  color: $white;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  border: none;
  box-sizing: border-box;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255,255,255, 0.3)
  }
}
