.contacts {
  position: relative;

  @media (min-width: $desktop-width) {
    min-height: 400px;
    display: grid;
    grid-template-columns: 1220px;
    align-items: center;
    justify-content: center;
  }
}


.contacts__title {
  font-size: $font-size-16;
  line-height: 20px;
  color: $color-black-10;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    font-size: $font-size-20;
    line-height: 26px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0px;
  }
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: $font-size-14;
  line-height: 20px;
  color: $color-gray-700;
  margin: 0;
  padding: 0;

  @media(min-width: $tablet-width) {
    display: grid;
    grid-template-rows: auto auto;
    padding-right: 40px;
    text-align: right;
    row-gap: 20px;
    font-size: 16px;
    line-height: 20px;
  }

  & span {
    display: block;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0px;
    text-align: left;
  }
}

.contacts__inner-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  padding: 26px 20px;
  background-color: $white;
  max-width: 1220px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 60px 30px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 280px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 80px 70px;
    width: 565px;
    column-gap: 55px;
    position: relative;
    left: 0;
    margin: 0;
    z-index: 1;
  }
}

.contacts__img {
  object-fit: cover;
  box-sizing: border-box;
  width: 100%;
  height: 360px;
  border: none;

  @media (min-width: $tablet-width) {
    height: 405px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    height: 400px;
  }
}

.contacts__wrapper--secondary {
  background-color: $color-gray-50;

  @media (min-width: $desktop-width) {
    background-color: $white;
    column-gap: 95px;
  }
}

.contacts__city {
  @media (min-width: $tablet-width) {
    display: block;
  }
}
