

.contacts__title {
  font-size: $font-size-16;
  line-height: 20px;
  color: $color-black-10;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    font-size: $font-size-20;
    line-height: 26px;
    font-weight: 400;
  }
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: $font-size-14;
  line-height: 20px;
  color: $color-gray-700;
  margin: 0;
  padding: 0;

  @media(min-width: $tablet-width) {
    display: grid;
    grid-template-rows: auto auto;
    padding-right: 40px;
    text-align: right;
    row-gap: 25px;
    font-size: 16px;
    line-height: 20px;
  }
}

.contacts__inner-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  padding: 26px 20px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 60px 30px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 280px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 26px 110px;
  }
}

.contacts__img {
  object-fit: cover;
  width: 100%;
}

.contacts--other {
  background-color: $color-gray-50;

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}

.contacts__city {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.contacts {
  max-width: 1440px;
  margin: 0 auto;
  background-color: $color-gray-50;
}
