.developer {
  text-decoration: none;
  color: $color-gray-700;
  font-family: "Arial", sans-serif;
  font-size: $font-size-16;
  line-height: 18px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 20px;
    padding-top: 0;
    padding-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    align-items: center;
  }

  &:hover svg {
    stroke: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}
