.example {
  background-color: $color-gray-850;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    background: linear-gradient( to bottom, $white 60%, $color-gray-850 40%);
  }
}

.example__title {
  font-size: $font-size-36;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.example__description {
  color: $color-gray-700;
  font-size: $font-size-14;
  line-height: 18px;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
}

.example-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 34px;
}

.example-list__item {
  border: 1px solid $gray-border;
  border-radius: 3px;
  padding: 14px 8px 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.example-list__title {
  font-size: $font-size-12;
  line-height: 12px;
  color: $color-gray-700;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  width: 80px;
  padding: 0 4px;
  text-transform: lowercase;
  text-align: center;
  margin-bottom: -14px;
  background-color: $color-gray-850;
}

.example-list__description {
  font-size: $font-size-24;
  color: $font-black;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.example__spending {
  font-size: $font-size-14;
  line-height: 20px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.example__inner-wrapper {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 170px;
  }
}

.example__image--next {
  display: none;
}
