.example {
  background-color: $color-gray-850;
  padding-top: 25px;
  padding-bottom: 43px;

  @media (min-width: $tablet-width) {
    background: linear-gradient( to bottom, $white 60%, $color-gray-850 40%);
    padding-top: 0;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 65px;
    background: linear-gradient( to top, $color-gray-850 79%, $white 30%);
  }
}

.example__title {
  font-size: $font-size-36;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-60;
    line-height: 60px;
    margin-bottom: 65px;
  }
}

.example__description {
  color: $color-gray-700;
  font-size: $font-size-14;
  line-height: 18px;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-16;
    line-height: 24px;
    grid-column: 1/-1;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-2;
    margin-top: 80px;
    margin-bottom: 72px;
  }
}

.example__description br {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.example-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 85px;
    gap: 45px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-bottom: 55px;
    gap: 42px;
    align-self: start;
  }
}

.example-list__item {
  border: 1px solid $gray-border;
  border-radius: 3px;
  padding: 14px 8px 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }
}

.example-list__title {
  font-size: $font-size-12;
  line-height: 12px;
  color: $color-gray-700;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  width: 80px;
  padding: 0 4px;
  text-transform: lowercase;
  text-align: center;
  margin-bottom: -14px;
  background-color: $color-gray-850;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0 7px;
    background-color: $white;
    margin-bottom: -6px;
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-gray-850;
  }
}

.example-list__description {
  font-size: $font-size-24;
  color: $font-black;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-30;
    line-height: 37px;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
}

.example__spending {
  font-size: $font-size-14;
  line-height: 20px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: $font-size-20;
    line-height: 20px;
    text-align: right;
    padding-left: 130px;
    padding-top: 8px;
    display: grid;
    grid-template-rows: min-content min-content;
    row-gap: 10px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-template-columns: 1fr 60px 1fr;
    align-self: center;
    display: grid;
    padding-left: 0;
    text-align: left;
    column-gap: 25px;

    & span:first-child {
      grid-column: 1/3;
    }
  }
}

.example__inner-wrapper {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/-1;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding: 0;
    grid-column: auto;
    width: 592px;
  }
}

.example__images {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 50% 1fr;
    overflow: hidden;
    margin-bottom: 30px;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    position: relative;
    top: -45px;
    right: -15px;
  }
}

.example__image {
  overflow: hidden;
  grid-row: 1/2;
  grid-column: 1/-1;
  opacity: 0;
  transition: opacity 0.3s ease;

  @media (min-width: $tablet-width) {
    opacity: 1;
    grid-row:auto;
    grid-column: auto;
  }
}

.example__image img {
  margin: 0 auto;
  display: block;

  @media (min-width: $tablet-width) {
    max-width: none;
    width: 592px;
    height: 511px;
    margin: 0;
  }
}

.example__image--active {
  opacity: 1;
}

.example__image--next {

  @media (min-width: $tablet-width) {
    opacity: 1;
    display: flex;
    justify-content: end;
  }
}

.example__container {

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.example__content {

  @media (min-width: $tablet-width) {
  display: grid;
  grid-template-columns: 366px 1fr;
  column-gap: 32px;
  margin-bottom: 0px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 366px 70px 1fr;
    padding-top: 0;
    grid-template-rows:repeat(4, max-content);
  }
}
