.field {
  font-size: $font-size-16;
  color: $color-gray-700;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 15px;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.field__input::placeholder {
  font-family: "Oswald", sans-serif;
  color: $color-gray-700;
  font-size: $font-size-16;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.field__input {
  box-sizing: border-box;
  width: 100%;
  padding: 13px 15px;
  border: 1px solid $gray-border-form;

  @media (min-width: $tablet-width) {
    padding: 14px 0px 14px 20px;
  }

  &:hover {
    border-color: $gray-border;
  }

  &:focus {
    outline: 2px solid $color-gray-700;
    outline-offset: -2px;
  }

  &:invalid {
    outline: 2px solid $status-error;
    outline-offset: -2px;
  }
}

.field__icon {
  position: absolute;
  right: 16px;
  top: calc(50% - 8px);

  @media (min-width: $tablet-width) {
    right: 15px;
  }
}

.field__input:focus + .field__icon path,
.field__input:focus + .field__icon line{
  stroke: $basic-green;
}

.field__input[type="tel"]:focus + .field__icon path,
.field__input[type="tel"]:focus + .field__icon line{
  fill: $basic-green;
  stroke: none;
}

.field__input:invalid + .field__icon path,
.field__input:invalid + .field__icon line{
  stroke: $status-error;
}
