.functions {
  display: grid;
  grid-template-rows: max-content 1fr;
  row-gap: 40px;
}

.functions__title {
  font-size: $font-size-36;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 35px;
  }
}

.functions__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  row-gap: 20px;
  counter-reset: item;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 36px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fill, minmax(230px,1fr));
    column-gap: 95px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
  }
}

.functions__item {
  font-family: "Arial", sans-serif;
  font-size: $font-size-14;
  line-height: 18px;
  color: $color-gray-700;
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;
  counter-increment: item;
  position: relative;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    display: grid;
    grid-template-rows: 80px auto;
    grid-template-columns: auto;
    padding-right: 30px;
    min-height: 280px;
    padding-top: 0px;
    padding-right: 72px;
    align-items: start;
    row-gap: 30px;

    &::after {
      content: counter(item);
      position: absolute;
      right: 80px;
      color: $color-gray-50;
      font-size: $font-size-280;
      line-height: 280px;
      font-weight: 400;
      top: -40px;
      font-family: "Oswald", sans-serif;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 0px;

    &::after {
      right: 0
    }
  }

  &::before {
    content:"";
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-color: #68B738;
    background-position: 50% 50%;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--leaf::before {
    background-image: url("../img/svg/leaf.svg");
  }

  &--leaf::after {
    right: 95px;

    @media (min-width: $desktop-width) {
      right: 15px;
    }
  }

  &--powder::before {
    background-image: url("../img/svg/powder.svg");
  }

  &--meal::before {
    background-image: url("../img/svg/eat.svg");
  }

  &--weight::before {
    background-image: url("../img/svg/weight.svg");
  }
}

.functions__item--weight br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.functions__container {
  margin-bottom: 55px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
    margin-bottom: 45px;
    &::after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: $color-gray-border;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
    position: relative;

    &::after {
      display: none;
    }
  }
}

