.gift {
  background-image: url("../img/cats-home.jpg");
  background-color: $basic-green;
  font-family: "Arial", sans-serif;
  color: $white;
  font-weight: 400;
  font-size: $font-size-16;
  line-height: 20px;
  text-align: center;
}
