.gift {
  background-image: url("../img/cats-home.jpg");
  background-color: $basic-green;
  font-family: "Arial", sans-serif;
  color: $white;
  font-weight: 400;
  font-size: $font-size-16;
  line-height: 20px;
  text-align: center;
  padding: 60px 60px 40px;
  position: relative;
  background-repeat: no-repeat;
  display: grid;
  row-gap: 50px;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/cats-home_large.jpg");
    padding: 60px 120px 60px 80px;
    grid-template-columns: 80px auto;
    column-gap: 265px;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    padding: 60px 40px 20px;
    position: relative;
    background-repeat: no-repeat;
    display: grid;
    row-gap: 50px;
    align-items: center;
    justify-items: center;
    grid-template-columns: none;
    margin-bottom: 0;
    background-image: url("../img/cats-home.jpg");
    background-position: 100%;
  }
}

.gift__text {
  margin: 0;
  padding: 0;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    text-align: left;

    & br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
