.main-menu {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: $font-size-20;
  line-height: 20px;
  color: $font-black;
  margin: 0;
  list-style: none;
  padding: 0;
  border-top: 1px solid #e6e6e6;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    display: flex;
    position: static;
    flex-direction: row;
    border: none;
    justify-content: space-between;
  }
}


.main-menu__link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: $font-size-20;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  line-height: 24px;
  padding: 24px 0;
  display: block;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: $font-size-18;
    font-weight: 400;
  }
}

.main-menu__item {
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  background-color: $white;

  @media (min-width: $tablet-width) {
    border: none;
    &:not(:last-child) {
      margin-right: 33px;
    }
  }

}
