.page-footer__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 20px 0;
  padding-bottom: 22px;
  max-width: 1220px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 164px 1fr 164px;
    padding: 45px 30px 55px 30px;
    align-items: center;
    gap: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-left:0;
    padding-right: 0;
    padding: 50px 0;
  }
}

.page-footer {
  background-color: $color-gray-50;
}


.page-footer__social {
  margin: 0 auto;
}

.page-footer__logo {
  margin: 0 auto;
  padding: 8px 0;
  text-align: center;
  display: block;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 100%;
    display: flex;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
