.page-footer__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 22px;
  max-width: 1220px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    padding: 38px 30px 35px 30px;
    align-items: center;
  }
}

.page-footer {
  background-color: $color-gray-50;
}


.page-footer__social {
  margin: 0 auto;
}

.page-footer__logo {
  margin: 0 auto;
  padding: 8px 0;
  text-align: center;
  display: block;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
