.promo {
  background-color: #63a63b;
  background-image: url("../img/promo-cat.jpg"), linear-gradient(#63a63b 0, #63a63b 304px, #ffffff 302px);
  background-repeat: no-repeat;
  background-position: 50% 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: $white;
  font-style: normal;
  font-weight: 400;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-cat@2.jpg"), linear-gradient(#63a63b 0, #63a63b 304px, #ffffff 302px);
    background-position: 50% 0;
    background-size: auto 302px, auto;
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    background-color: $white;
    text-align: left;
    min-height: 833px;
  }

  @media (min-width: $desktop-width) {

    position: relative;
    min-height: auto;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: #63a63b;
      background-image: url("../img/promo-large.jpg");
      top: -200px;
      left: 50%;
      background-repeat: no-repeat;
      z-index: 0;
      background-position: 0 100%;
    }
  }
}

.promo__description {
  font-size: $font-size-14;
  line-height: 14px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 50px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    color: $font-black;
    font-size: $font-size-20;
    line-height: 20px;
    text-align: left;
    margin-bottom: 50px;
  }

  @media(min-width: $desktop-width) {
    max-width: 40%;
  }
}

.promo__title {
  font-size: $font-size-36;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  @include no-grass;
  padding-top: 27px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    color: $font-black;
    font-size: $font-size-60;
    text-align: left;
    padding-right: 50px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 40px;
    padding-top: 45px;
    position: relative;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    max-width: 50%;
    padding-top: 0px;
  }
}

.promo__button {
  width: 100%;
  display: block;
  padding: 10px 12px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    padding: 18px 26px;
    width: 244px;
    z-index: 1;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size-20;
    line-height: 20px;
  }
}

.promo__img {
  max-width: 100%;
  height: auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: 0;
    left: 30px;
    bottom: -25px;
    width: 709px;
    height: 608px;
  }

  @media (min-width: $desktop-width) {
    left: calc(50% - 162px);
    z-index: 2;
    bottom: auto;
    top: 0;
    width: 552px;
    height: 499px;
  }
}

.promo__container {

  @media (min-width: $tablet-width) {
    padding: 0 120px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    min-height: 550px;
    padding-top: 80px;
  }
}
