.social-list {
  @include no-grass;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 30px;
  padding: 15px 0;
  justify-content: center;
  border-top: 1px solid $gray-border;
  border-bottom: 1px solid $gray-border;

  @media (min-width: $mobile-width-only) {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    gap: 0px;
    border: none;
    padding: 0;
  }
}

.social-list__item {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-right: 12px;
  }
}

.social-list__link {
  padding: 4px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 8px;
    display: block;
  }

  &:hover svg path{

    stroke: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}
