@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2"), url("../fonts/oswaldmedium.woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2"), url("../fonts/oswaldregular.woff");
}
.page {
  background-color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #000000;
}

.page__header {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.page__container {
  max-width: 1220px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 320px) {
  .page__container {
    padding: 0 20px;
  }
}
@media (min-width: 728px) {
  .page__container {
    padding: 0 30px;
  }
}
@media (min-width: 1280px) {
  .page__container {
    padding: 0;
  }
}

.page-header {
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 18px;
}
@media (min-width: 728px) {
  .page-header {
    padding-top: 24px;
  }
}
@media (min-width: 1280px) {
  .page-header {
    padding-top: 55px;
    padding-bottom: 32px;
  }
}

.page__header--secondary {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 30px;
}
@media (min-width: 728px) {
  .page__header--secondary {
    border-bottom: none;
    margin-bottom: 47px;
  }
}
@media (min-width: 1280px) {
  .page__header--secondary {
    margin-bottom: 75px;
  }
}

.page-header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.page-header__logo {
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-items: center;
  align-items: center;
  flex-grow: 1;
}
@media (min-width: 728px) {
  .page-header__logo {
    flex-grow: 0;
    gap: 15px;
  }
}
.page-header__logo:hover {
  opacity: 0.8;
}
.page-header__logo:active {
  opacity: 0.6;
}

.page-header__toggler {
  background-color: transparent;
  border: none;
  position: relative;
  height: 17.5px;
  width: 24px;
}
@media (min-width: 728px) {
  .page-header__toggler {
    display: none;
  }
}

.page-header__navigation--closed.page-header__toggler::before {
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  left: 0;
  box-shadow: 0 7.5px 0 0 #000000, 0 15px 0 0 #000000;
}

.page-header__navigation--open.page-header__toggler::before,
.page-header__navigation--open.page-header__toggler::after {
  content: "";
  position: absolute;
  top: 7.5px;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  left: 0;
}

.page-header__navigation--open.page-header__toggler::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.page-header__navigation--open.page-header__toggler::after {
  transform: rotate(-45deg);
  box-shadow: none;
}

.page-header__list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
}

.page-header__list--closed {
  display: none;
}

.main-menu {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  list-style: none;
  padding: 0;
  border-top: 1px solid #e6e6e6;
  flex-wrap: wrap;
}
@media (min-width: 728px) {
  .main-menu {
    display: flex;
    position: static;
    flex-direction: row;
    border: none;
    justify-content: space-between;
  }
}

.main-menu--secondary .main-menu__link {
  color: #000000;
}

@media (min-width: 728px) {
  .main-menu--secondary .main-menu__link--active {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    -webkit-text-decoration-style: solid;
            text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
    -webkit-text-decoration-color: #68b738;
            text-decoration-color: #68b738;
  }
}

.main-menu__link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  line-height: 24px;
  padding: 24px 0;
  display: block;
  text-transform: uppercase;
}
@media (min-width: 728px) {
  .main-menu__link {
    font-size: 18px;
    font-weight: 400;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .main-menu__link {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
}
.main-menu__link--active {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}
@media (min-width: 728px) {
  .main-menu__link--active {
    -webkit-text-decoration-color: #68b738;
            text-decoration-color: #68b738;
  }
}
@media (min-width: 1280px) {
  .main-menu__link--active {
    -webkit-text-decoration-color: #ffffff;
            text-decoration-color: #ffffff;
  }
}

.main-menu__item {
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  background-color: #ffffff;
}
@media (min-width: 728px) {
  .main-menu__item {
    border: none;
  }
  .main-menu__item:not(:last-child) {
    margin-right: 33px;
  }
}
@media (min-width: 1280px) {
  .main-menu__item {
    background-color: transparent;
  }
}

.promo {
  background-color: #63a63b;
  background-image: url("../img/promo-cat.jpg"), linear-gradient(#63a63b 0, #63a63b 304px, #ffffff 302px);
  background-repeat: no-repeat;
  background-position: 50% 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  position: relative;
}
@media (min-width: 728px) {
  .promo {
    background-image: none;
    background-color: #ffffff;
    text-align: left;
    min-height: 833px;
  }
}
@media (min-width: 1280px) {
  .promo {
    position: relative;
    min-height: auto;
  }
  .promo::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #63a63b;
    background-image: url("../img/promo-large.jpg");
    top: -200px;
    left: 50%;
    background-repeat: no-repeat;
    z-index: 0;
    background-position: 0 100%;
  }
}

.promo__description {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 29px;
  text-transform: uppercase;
}
@media (min-width: 728px) {
  .promo__description {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 48px;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  margin-bottom: 25px;
}
@media (min-width: 728px) {
  .promo__title {
    color: #000000;
    font-size: 60px;
    text-align: left;
    padding-right: 50px;
    line-height: 60px;
    font-weight: 400;
    width: 415px;
    margin-bottom: 40px;
  }
}

.promo__button {
  width: 100%;
  display: block;
  padding: 10px 12px;
}
@media (min-width: 728px) {
  .promo__button {
    padding: 14px 26px;
    width: 244px;
    z-index: 1;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .promo__button {
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 728px) {
  .promo__img {
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
    width: 709px;
    height: 608px;
  }
}
@media (min-width: 1280px) {
  .promo__img {
    left: calc(50% - 162px);
    z-index: 2;
    bottom: auto;
    top: 30px;
    width: 552px;
    height: 499px;
  }
}

@media (min-width: 728px) {
  .promo__container {
    padding: 0 90px;
  }
}
@media (min-width: 1280px) {
  .promo__container {
    padding-left: 80px;
    min-height: 582px;
    padding-top: 85px;
  }
}

.button {
  background-color: #68b738;
  text-decoration: none;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  border: none;
  box-sizing: border-box;
}

.nutrition-programs {
  background-color: #ffffff;
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.nutrition-programs__title {
  font-size: 24px;
  line-height: 37px;
  display: flex;
  align-items: center;
  min-height: 50px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-left: 68px;
  position: relative;
  margin-bottom: 22px;
}
@media (min-width: 728px) {
  .nutrition-programs__title {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    padding-left: 0;
  }
}
@media (min-width: 1280px) {
  .nutrition-programs__title {
    padding-left: 162px;
    min-height: 100px;
  }
}
.nutrition-programs__title::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #68B738;
  border-radius: 50%;
  position: absolute;
  left: 0;
}
@media (min-width: 728px) {
  .nutrition-programs__title::before {
    width: 200px;
    height: 200px;
    top: calc(100% - 30px);
    left: auto;
    right: 9px;
  }
}
@media (min-width: 1280px) {
  .nutrition-programs__title::before {
    width: 100px;
    height: 100px;
    right: auto;
    left: 0;
    top: 0;
  }
}
.nutrition-programs__title::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.program-fit .nutrition-programs__title::after {
  top: -3px;
  background-image: url("../../img/svg/cat-slim-mobile.svg");
  width: 36px;
  height: 50px;
  left: 8px;
}
@media (min-width: 728px) {
  .program-fit .nutrition-programs__title::after {
    width: 140px;
    height: 194px;
    top: calc(100% - 40px);
    left: auto;
    right: 39px;
  }
}
@media (min-width: 1280px) {
  .program-fit .nutrition-programs__title::after {
    width: 70px;
    height: 97px;
    right: auto;
    left: 15px;
    top: -7px;
  }
}

.program-mass .nutrition-programs__title::after {
  top: 12px;
  background-image: url("../../img/svg/cat-mass-mobile.svg");
  width: 67px;
  height: 28px;
  left: -9px;
}
@media (min-width: 728px) {
  .program-mass .nutrition-programs__title::after {
    width: 268px;
    height: 112px;
    left: auto;
    top: 82px;
    right: -25px;
  }
}
@media (min-width: 1280px) {
  .program-mass .nutrition-programs__title::after {
    width: 134px;
    height: 56px;
    right: auto;
    left: -18px;
    top: 20px;
  }
}

.nutrition-programs__description {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 38px;
  position: relative;
}
@media (min-width: 728px) {
  .nutrition-programs__description {
    font-size: 16px;
    line-height: 24px;
    max-width: 57%;
    margin-bottom: 47px;
  }
}
@media (min-width: 1280px) {
  .nutrition-programs__description {
    max-width: 100%;
  }
}
.nutrition-programs__description::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  position: absolute;
  bottom: -23px;
  left: 0;
}
@media (min-width: 728px) {
  .nutrition-programs__description::after {
    display: none;
  }
}

.nutrition-programs__link {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: max-content 32px;
  gap: 17px;
  align-items: center;
}
@media (min-width: 728px) {
  .nutrition-programs__link {
    font-size: 20px;
    line-height: 30px;
    gap: 25px;
  }
}
.nutrition-programs__link::after {
  content: "";
  height: 12px;
  width: 24px;
  background-image: url("../../img/svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.nutrition-programs__link:hover::after {
  width: 32px;
  background-position: 100% 50%;
}

.nutrition-programs__item {
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 33px;
  padding-top: 24px;
  padding-bottom: 22px;
}
@media (min-width: 728px) {
  .nutrition-programs__item {
    padding: 77px 53px 57px 53px;
  }
}

.nutrition-programs__container {
  margin-bottom: 20px;
  display: grid;
  gap: 20px;
}
@media (min-width: 728px) {
  .nutrition-programs__container {
    gap: 30px;
    margin-bottom: 45px;
  }
}
@media (min-width: 1280px) {
  .nutrition-programs__container {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 70px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.functions {
  display: grid;
  grid-template-rows: max-content 1fr;
  row-gap: 40px;
}

.functions__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
}
@media (min-width: 728px) {
  .functions__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 35px;
  }
}

.functions__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  row-gap: 20px;
  counter-reset: item;
}
@media (min-width: 728px) {
  .functions__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 36px;
  }
}
@media (min-width: 1280px) {
  .functions__list {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    column-gap: 95px;
  }
}
@media (min-width: 1280px) {
  .functions__list {
    column-gap: 80px;
  }
}

.functions__item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;
  counter-increment: item;
  position: relative;
}
@media (min-width: 728px) {
  .functions__item {
    font-size: 16px;
    line-height: 24px;
    display: grid;
    grid-template-rows: 80px auto;
    grid-template-columns: auto;
    padding-right: 30px;
    min-height: 280px;
    padding-top: 40px;
    padding-right: 72px;
  }
  .functions__item::after {
    content: counter(item);
    position: absolute;
    right: 80px;
    color: #f2f2f2;
    font-size: 280px;
    line-height: 280px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    z-index: -1;
  }
}
@media (min-width: 1280px) {
  .functions__item {
    padding-right: 0px;
  }
  .functions__item::after {
    right: 0;
  }
}
.functions__item::before {
  content: "";
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-color: #68B738;
  background-position: 50% 50%;
}
@media (min-width: 728px) {
  .functions__item::before {
    width: 80px;
    height: 80px;
  }
}
.functions__item--leaf::before {
  background-image: url("../../img/svg/leaf.svg");
}
.functions__item--powder::before {
  background-image: url("../../img/svg/powder.svg");
}
.functions__item--meal::before {
  background-image: url("../../img/svg/eat.svg");
}
.functions__item--weight::before {
  background-image: url("../../img/svg/weight.svg");
}

.functions__item--weight br {
  display: none;
}
@media (min-width: 1280px) {
  .functions__item--weight br {
    display: block;
  }
}

.functions__container {
  margin-bottom: 50px;
  position: relative;
}
@media (min-width: 728px) {
  .functions__container::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #e6e6e6;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
@media (min-width: 1280px) {
  .functions__container {
    margin-bottom: 25px;
    position: relative;
  }
  .functions__container::after {
    display: none;
  }
}

.example {
  background-color: #eaeaea;
  padding-top: 25px;
  padding-bottom: 40px;
}
@media (min-width: 728px) {
  .example {
    background: linear-gradient(to bottom, #ffffff 60%, #eaeaea 40%);
    padding-top: 0;
  }
}
@media (min-width: 1280px) {
  .example {
    background: linear-gradient(to top, #eaeaea 72%, #ffffff 30%);
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
@media (min-width: 728px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
}
@media (min-width: 728px) {
  .example__description {
    font-size: 16px;
    line-height: 24px;
    grid-column: 1/-1;
    margin-bottom: 55px;
  }
}
@media (min-width: 1280px) {
  .example__description {
    grid-column: 1/-2;
    margin-top: 100px;
  }
}

.example-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 34px;
}
@media (min-width: 728px) {
  .example-list {
    margin-bottom: 85px;
  }
}
@media (min-width: 1280px) {
  .example-list {
    grid-column: 1/2;
    margin-bottom: 60px;
    gap: 42px;
    align-self: start;
  }
}

.example-list__item {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding: 14px 8px 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
@media (min-width: 728px) {
  .example-list__item {
    padding-top: 16px;
  }
}

.example-list__title {
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  width: 80px;
  padding: 0 4px;
  text-transform: lowercase;
  text-align: center;
  margin-bottom: -14px;
  background-color: #eaeaea;
}
@media (min-width: 728px) {
  .example-list__title {
    width: auto;
    padding: 0 7px;
    background-color: #ffffff;
    margin-bottom: -6px;
    font-size: 14px;
    line-height: 14px;
  }
}
@media (min-width: 1280px) {
  .example-list__title {
    background-color: #eaeaea;
  }
}

.example-list__description {
  font-size: 24px;
  color: #000000;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}
@media (min-width: 728px) {
  .example-list__description {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__spending {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
@media (min-width: 728px) {
  .example__spending {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    padding-left: 140px;
  }
}
@media (min-width: 1280px) {
  .example__spending {
    grid-column: 1/2;
    grid-template-columns: 1fr 60px 1fr;
    align-self: center;
    display: grid;
    padding-left: 0;
    text-align: left;
  }
  .example__spending span:first-child {
    grid-column: 1/3;
  }
}

.example__inner-wrapper {
  margin-bottom: 40px;
}
@media (min-width: 728px) {
  .example__inner-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
  }
}

@media (min-width: 728px) {
  .example__wrapper {
    grid-column: 1/-1;
    display: grid;
    margin: 0 auto;
    width: 708px;
  }
}
@media (min-width: 1280px) {
  .example__wrapper {
    display: block;
    padding: 0;
    grid-column: auto;
  }
}

@media (min-width: 728px) {
  .example__images {
    display: grid;
    grid-template-columns: 50% 1fr;
    overflow: hidden;
    margin-bottom: 25px;
    padding: 0 60px;
  }
}

.example__image {
  overflow: hidden;
}

.example__image img {
  margin: 0 auto;
  display: block;
}
@media (min-width: 728px) {
  .example__image img {
    max-width: none;
    width: 592px;
    height: 511px;
    margin: 0;
  }
}

.example__image--active {
  display: block;
}

.example__image--next {
  display: none;
}
@media (min-width: 728px) {
  .example__image--next {
    display: block;
    display: flex;
    justify-content: end;
  }
}

@media (min-width: 1280px) {
  .example__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

@media (min-width: 728px) {
  .example__content {
    display: grid;
    grid-template-columns: 366px 1fr;
    column-gap: 32px;
  }
}
@media (min-width: 1280px) {
  .example__content {
    grid-template-columns: 366px 70px 1fr;
    padding-top: 45px;
  }
}

.toggler__button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}
@media (min-width: 728px) {
  .toggler__button {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dashed #eaeaea;
    -webkit-text-decoration: underline 1px dotted #666666;
            text-decoration: underline 1px dotted #666666;
    text-underline-offset: 5px;
  }
}

.toggler {
  padding: 0 35px;
  display: grid;
  grid-template-columns: 49px 1fr 49px;
  gap: 13px;
  align-items: center;
}
@media (min-width: 728px) {
  .toggler {
    column-gap: 15px;
  }
}
@media (min-width: 1280px) {
  .toggler {
    column-gap: 25px;
  }
}

.toggler__range {
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  height: 14px;
  position: relative;
}
.toggler__range::after {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 6px;
  height: 6px;
  background-color: #68B738;
  width: 36px;
  border-radius: 6px;
}
@media (min-width: 728px) {
  .toggler__range {
    display: none;
  }
}

.toggler__input {
  -webkit-appearance: none;
          appearance: none;
  background: transparent;
  height: 6px;
}
.toggler__input::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background-color: #68b738;
  appearance: none;
  border-radius: 50%;
  border: 11px solid #ffffff;
}
.toggler__input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 30px;
  height: 30px;
  background-color: #68b738;
  border-radius: 50%;
  border: 11px solid #ffffff;
  margin-top: -12px;
}
.toggler__input::-webkit-slider-runnable-track {
  height: 6px;
  background-color: #dcdcdc;
  border-radius: 6px;
}
.toggler__input::-moz-range-track {
  height: 6px;
  background-color: #dcdcdc;
  border-radius: 6px;
}
@media (min-width: 320px) {
  .toggler__input {
    display: none;
  }
}
@media (min-width: 728px) {
  .toggler__input {
    display: block;
  }
}

.contacts {
  position: relative;
}
@media (min-width: 1280px) {
  .contacts {
    min-height: 400px;
    display: grid;
    grid-template-columns: 1220px;
    align-items: center;
    justify-content: center;
  }
}

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
@media (min-width: 728px) {
  .contacts__title {
    padding-left: 40px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
  }
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
  padding: 0;
}
@media (min-width: 728px) {
  .contacts__address {
    display: grid;
    grid-template-rows: auto auto;
    padding-right: 40px;
    text-align: right;
    row-gap: 25px;
    font-size: 16px;
    line-height: 20px;
  }
}

.contacts__inner-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  padding: 26px 20px;
  background-color: #ffffff;
  max-width: 1220px;
  margin: 0 auto;
}
@media (min-width: 728px) {
  .contacts__inner-wrapper {
    padding: 60px 30px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 280px;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .contacts__inner-wrapper {
    padding: 60px 80px;
    width: 565px;
    column-gap: 90px;
    position: relative;
    left: 0;
    margin: 0;
  }
}

.contacts__img {
  object-fit: cover;
  width: 100%;
}
@media (min-width: 1280px) {
  .contacts__img {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: -1;
    min-height: 400px;
  }
}

.contacts__wrapper--secondary {
  background-color: #f2f2f2;
}
@media (min-width: 1280px) {
  .contacts__wrapper--secondary {
    background-color: #ffffff;
  }
}

@media (min-width: 728px) {
  .contacts__city {
    display: block;
  }
}

.show-more__button {
  background-color: #f2f2f2;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  width: 100%;
  display: block;
  padding: 10px;
}

.show-more {
  width: 100%;
  text-align: center;
  padding-top: 80px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
@media (min-width: 728px) {
  .show-more {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 160px;
    border: 2px solid #f2f2f2;
    background-color: #ffffff;
    align-items: center;
    padding-bottom: 40px;
    margin-top: 80px;
  }
}
.show-more__title {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.show-more__title::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  margin: auto;
  height: 2px;
  width: 30px;
  background-color: #d3d3d3;
}
.show-more__title::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  margin: auto;
  height: 2px;
  width: 30px;
  background-color: #d3d3d3;
  transform: rotate(90deg);
}
@media (min-width: 728px) {
  .show-more__title {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 22px;
    max-width: 60%;
  }
  .show-more__title::after {
    content: "";
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
    width: 60px;
    background-color: #d3d3d3;
  }
  .show-more__title::before {
    content: "";
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
    width: 60px;
    background-color: #d3d3d3;
    transform: rotate(90deg);
  }
}
@media (min-width: 1280px) {
  .show-more__title {
    max-width: 75%;
  }
}
.show-more__description {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  color: #444444;
  font-size: 12px;
}
@media (min-width: 728px) {
  .show-more__description {
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
    max-width: 60%;
  }
}
@media (min-width: 1280px) {
  .show-more__description {
    max-width: 75%;
  }
}

.catalog-additional__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  background-color: #ffffff;
  justify-self: start;
  margin-left: -20px;
  padding: 0 20px;
}
@media (min-width: 728px) {
  .catalog-additional__title {
    padding: 0 35px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    margin-left: 0;
  }
}
@media (min-width: 1280px) {
  .catalog-additional__title {
    margin-left: -40px;
    padding-left: 40px;
  }
}

.catalog-additional {
  padding-top: 25px;
  position: relative;
}
.catalog-additional::after {
  position: absolute;
  content: "";
  right: 0;
  top: 41px;
  height: 2px;
  background-color: #68b738;
  width: 100%;
  z-index: -1;
  left: 0;
}
@media (min-width: 728px) {
  .catalog-additional::after {
    top: 49px;
  }
}
.catalog-additional__container {
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
}
@media (min-width: 728px) {
  .catalog-additional__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1280px) {
  .catalog-additional__container {
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
    grid-template-rows: auto auto;
  }
}

.catalog-additional__list {
  border-bottom: 1px solid #cdcdcd;
  margin: 0;
  margin-bottom: 35px;
}
@media (min-width: 728px) {
  .catalog-additional__list {
    margin-bottom: 75px;
  }
}
@media (min-width: 1280px) {
  .catalog-additional__list {
    margin-bottom: 0;
  }
}

.gift {
  background-image: url("../img/cats-home.jpg");
  background-color: #68b738;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 60px 60px 40px;
  position: relative;
  background-repeat: no-repeat;
  display: grid;
  row-gap: 50px;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
}
@media (min-width: 728px) {
  .gift {
    background-image: url("../../img/cats-home_large.jpg");
    padding: 60px 120px 60px 80px;
    grid-template-columns: 80px auto;
    column-gap: 265px;
    margin-bottom: 75px;
  }
}
@media (min-width: 1280px) {
  .gift {
    min-width: 245px;
    padding: 60px 40px 20px;
    position: relative;
    background-repeat: no-repeat;
    display: grid;
    row-gap: 50px;
    align-items: center;
    justify-items: center;
    grid-template-columns: none;
    margin-bottom: 0;
    background-image: url("../img/cats-home.jpg");
    background-position: 100%;
  }
}

.gift__text {
  margin: 0;
  padding: 0;
}
.gift__text br {
  display: none;
}
@media (min-width: 728px) {
  .gift__text {
    text-align: left;
  }
  .gift__text br {
    display: block;
  }
}
@media (min-width: 1280px) {
  .gift__text {
    text-align: center;
  }
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 22px;
  max-width: 1220px;
  margin: 0 auto;
}
@media (min-width: 728px) {
  .page-footer__container {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    padding: 38px 30px 35px 30px;
    align-items: center;
  }
}

.page-footer {
  background-color: #f2f2f2;
}

.page-footer__social {
  margin: 0 auto;
}

.page-footer__logo {
  margin: 0 auto;
  padding: 8px 0;
  text-align: center;
  display: block;
  margin-bottom: 24px;
}
@media (min-width: 728px) {
  .page-footer__logo {
    margin-bottom: 0;
  }
}

.page-main__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
  max-width: 1220px;
  margin: 0 auto 40px;
}
@media (min-width: 728px) {
  .page-main__title {
    margin-bottom: 82px;
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__catalog {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 728px) {
  .page-main__catalog {
    border: none;
    padding: 0 30px;
    margin: 0 auto;
  }
}

.page-main__text {
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  margin: 0;
  padding: 0;
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 728px) {
  .page-main__text {
    padding: 0 30px;
  }
}
@media (min-width: 1280px) {
  .page-main__text {
    padding: 0 110px;
  }
}

.page-main__header {
  margin-bottom: 20px;
}
@media (min-width: 1280px) {
  .page-main__header {
    margin-bottom: 80px;
  }
}

.page-main__container {
  padding: 0 20px;
}
@media (min-width: 728px) {
  .page-main__container {
    padding: 0 60px;
  }
}
@media (min-width: 1280px) {
  .page-main__container {
    padding: 0 110px;
  }
}

@media (min-width: 728px) {
  .page-main__container--contacts {
    display: flex;
    justify-content: space-between;
  }
}

.page-main__goods {
  margin-bottom: 35px;
}
@media (min-width: 1280px) {
  .page-main__goods {
    margin-bottom: 85px;
  }
}

.card {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: #444444;
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
  display: grid;
  width: 100%;
  grid-template-areas: "img title" "img descr" "btn btn";
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
@media (min-width: 728px) {
  .card {
    grid-template-areas: "img" "title" "descr" "btn";
    background-color: #f2f2f2;
    border: none;
    padding: 8px 38px 40px;
    display: grid;
    grid-template-rows: 200px auto;
    background-image: linear-gradient(to bottom, #ffffff 80px, #f2f2f2 80px);
  }
}

.card__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: #222222;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  max-width: 70%;
}
@media (min-width: 728px) {
  .card__link {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media (min-width: 1280px) {
  .card__link {
    max-width: 80%;
  }
}

.card__button {
  font-size: 16px;
  grid-area: btn;
  padding: 10px;
}

.card__title {
  font-weight: 400;
  margin: 0;
  padding: 0;
  grid-area: title;
}
@media (min-width: 728px) {
  .card__title {
    font-size: 20px;
    line-height: 24px;
  }
}

.card__description {
  display: grid;
  margin: 0;
  padding: 10px 0;
  grid-area: descr;
  row-gap: 2px;
}
@media (min-width: 728px) {
  .card__description {
    font-size: 16px;
    line-height: 16px;
    row-gap: 15px;
    margin-bottom: 33px;
  }
}

.card-description__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
}
@media (min-width: 728px) {
  .card-description__wrapper::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 1px;
    width: 100%;
    background-color: #cdcdcd;
  }
}

.card__image {
  grid-area: img;
  margin: 0 36px;
}
@media (min-width: 728px) {
  .card__image {
    align-self: center;
    justify-self: center;
  }
}

.card__text,
.card__value {
  line-height: 16px;
}

.card__value {
  text-align: right;
}

.additional-card__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  padding: 0;
  margin: 0;
}
@media (min-width: 728px) {
  .additional-card__title {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: 728px) {
  .additional-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  .additional-card {
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr 244px;
    column-gap: 40px;
  }
}

.property {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 728px) {
  .property {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    justify-content: end;
    font-size: 16px;
  }
}
@media (min-width: 1280px) {
  .property {
    column-gap: 110px;
  }
}

.property__price {
  padding: 0;
  margin: 0;
}

.additional-card__button {
  width: 100%;
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
}
@media (min-width: 728px) {
  .additional-card__button {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}
@media (min-width: 1280px) {
  .additional-card__button {
    grid-row: 1/2;
    grid-column: 3/4;
  }
}

.additional-list {
  list-style: none;
  padding: 0;
}
@media (min-width: 1280px) {
  .additional-list {
    grid-column: 1/2;
  }
}

.additional-list__item {
  padding-top: 15px;
  padding-bottom: 20px;
  display: grid;
  row-gap: 15px;
  border-top: 1px solid #cdcdcd;
}
@media (min-width: 728px) {
  .additional-list__item {
    padding: 28px 40px;
  }
}
@media (min-width: 1280px) {
  .additional-list__item {
    padding: 15px 0;
    align-items: center;
  }
}

.field {
  font-size: 16px;
  color: #444444;
  text-transform: uppercase;
}

.field__input::placeholder {
  font-family: "Oswald", sans-serif;
  color: #444444;
  font-size: 16px;
  text-transform: uppercase;
}

.field__input {
  box-sizing: border-box;
  width: 100%;
}

.field-group__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.field-group__header {
  font-size: 24px;
  line-height: 26px;
}

.control {
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.developer {
  text-decoration: none;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 728px) {
  .developer {
    display: flex;
    justify-content: end;
    gap: 20px;
    padding-top: 0;
  }
}

.catalog-list {
  display: grid;
  justify-items: center;
  margin: 0 auto;
  max-width: 1220px;
  padding-bottom: 25px;
}
@media (min-width: 728px) {
  .catalog-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 60px;
  }
}
@media (min-width: 1280px) {
  .catalog-list {
    column-gap: 80px;
    row-gap: 65px;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  }
}

.form-section__additional {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-family: "Arial", sans-serif;
}
@media (min-width: 728px) {
  .form-section__additional {
    text-align: left;
  }
}

.form-section__group {
  margin: 0;
  padding: 0;
}

.form-section__button {
  display: block;
  width: 100%;
}

@media (min-width: 1280px) {
  .form-section__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form-section__group--contacts,
.form-section__group--comment,
.form-section__group--advanced {
  grid-column: 1/-1;
}

@media (min-width: 1280px) {
  .form-section__group--contacts .field-group__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

@media (min-width: 728px) {
  .form-section__group--advanced .field-group__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  .form-section__group--advanced .field-group__list {
    display: flex;
    justify-content: space-between;
  }
}

.form-section__wrapper {
  grid-column: 1/-1;
}
@media (min-width: 728px) {
  .form-section__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 22px;
  padding: 22px 0;
  justify-content: center;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 320px) {
  .social-list {
    width: 100%;
  }
}
@media (min-width: 728px) {
  .social-list {
    display: flex;
    border: none;
    padding: 0;
  }
}

.social-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__link {
  padding: 4px;
  display: flex;
  align-items: center;
}
@media (min-width: 728px) {
  .social-list__link {
    padding: 8px;
  }
}
.social-list__link svg {
  display: block;
}
/*# sourceMappingURL=style.css.map */