$font-black: #000000;
$white: #ffffff;
$basic-green: #68b738;
$color-gray-50: #f2f2f2;
$color-gray-700: #444444;
$color-gray-850: #eaeaea;
$color-black-10: #111111;
$color-black-20: #222222;
$color-gray-border: #e6e6e6;
$gray-card-border: #ebebeb;
$color-gray-card: #d3d3d3;
$gray-line: #d9d9d9;
$gray-border: #cdcdcd;
$gray-dark: #dcdcdc;
$font-size-36: 36px;
$font-size-14: 14px;
$font-size-12: 12px;
$font-size-24: 24px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-60: 60px;
$font-size-30: 30px;
$font-size-280: 280px;
$tablet-width: 728px;
$desktop-width: 1280px;
$mobile-width-only: 320px;
